img{
    width:100%;
    min-height:150px;
    max-height: 150px;
}

.outline{
    margin-bottom:25px;
    padding:15px;
    outline:2px solid #bab7b9;
    overflow:hidden;
}

.pop_up{
    position: absolute;
    margin:0;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:500px;
    height:500px;
    border:5px solid #bab7b9;
    border-radius: 5px;
    background: #fff;
    padding:20px;
    display: none;
    z-index:110;
}

.see_more{
    position:absolute;
    right:40px;
    bottom:30px;
}

.post_but{
    position: absolute !important;
    right:20px;
    top:5px;
    z-index: 2;
}

.btn-warning.post_but{
    position: absolute !important;
    right:60px;
    top:5px;

}
.validation_error{
    color:#ff0000;
}

.add_comment_container{
    margin-bottom: 30px;
}

#btn_send_comment{
    float:right;
}

.floatRight{
    float:right;
}